{% extends './layout.html' %} {% load static %} {% block content %}
<div class="w-[500px]">
	<!-- <section class="flex flex-row gap-12 justify-between">
		<button class="flex-1 text-zinc-500 font-medium">Login</button>
		<button
			class="minor-drop-shadow flex-1 bg-fuchsia-800 text-white rounded-md py-2 font-medium">
			Reset Password
		</button>
	</section> -->

	<section
		class="grid minor-drop-shadow place-items-center rounded-md border-1 mt-2 border-zinc-300 py-8 px-4 bg-white">
		<img src="{% static "./assets/achivers_logo.png" %}" width="120"
		height="183.24" alt="Logo" />
		<h1 class="font-semibold text-lg">Reset Your Password</h1>
		<p class="text-zinc-500 text-center text-sm">
			Enter your student ID to receive a password reset link.
		</p>

		<section class="mt-8 px-2 w-full">
			<div class="flex flex-col gap-1 w-full">
				<label class="text-sm font-medium gap-1" for="student_id"
					>Student ID</label
				>
				<input
					class="border-1 hover:border-1 rounded-md p-2 outline-none"
					type="text"
					name="student_id"
					placeholder="Enter your student ID"
					id="student_id" />
			</div>
		</section>

		<section class="mt-4 w-full">
			<button
				class="w-full bg-fuchsia-800 py-2 rounded-md font-semibold text-white">
				Send Reset Link
			</button>
		</section>
	</section>
</div>
{% endblock %}
